<!--<div>-->
  <!--Hello {{name}}!-->
<!--</div>-->
<!--<p><mat-form-field class="example-full-width">-->
  <!--<input matInput [(ngModel)]="selectedUserName" placeholder="Name">-->
<!--</mat-form-field>-->

  <!--<button mat-icon-button color="accent">-->
    <!--<mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>-->
  <!--</button>-->

<!--<p><button mat-raised-button (click)="changeName()">Change name</button></p>-->

<div>
  <ekoodi-user-list (userSelected)="onUserSelected($event)"></ekoodi-user-list>
</div>

<!--<button mat-raised-button (click)="showUserList()">User list</button>-->
<!--<button mat-raised-button (click)="showAddUser()">Add user</button>-->

<!--<router-outlet></router-outlet>-->

<!--<div fxLayout="row" fxFill>-->
  <!--<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">-->
    <!--Terve...-->
  <!--</div>-->
  <!--<div fxHide.xs fxLayout="column" fxLayoutAlign="center center" fxFlex>-->
    <!--Terve...-->
  <!--</div>-->
<!--</div>-->
